@model OnlineShopingStore.DAL.Tbl_Genre

@{
    ViewBag.Title = "Genre Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h2>Add Genre</h2>

    @using (Html.BeginForm("GenreEdit", "Admin", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.GenreName)
            @Html.TextBoxFor(model => model.GenreName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenreName)
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>