@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">About NextGen Electronic</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/modern-stationary-collection-arrangement_23-2149309643.jpg"   alt="About NextGen" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-6">
            <p style="font-size: 16px;">
                <strong>NextGen Electronic</strong> is your trusted destination for high-quality electronics at unbeatable prices.
            </p>
            <p style="font-size: 16px;">
                Our mission is to deliver excellence in both products and service. Thank you for choosing us!
            </p>
        </div>
    </div>
</div>
